  {% load static %}
  <!--footer start-->
  <div class="container-fluid">
  <div class="row mt-5 bg-body-muted">
    <div class="col-md-4">
      <h5>Address</h5>
      <hr>
      2nd Lane, vidya bhavan <br>
      near JK Road <br>
      mankhurd-mumbai <br><br>
      <p><i class="bi bi-telephone-fill text-secondary"></i> 9988664455</p>
      <p><i class="bi bi-envelope-fill text-secondary"></i> customer02@gmail.com</p>
    </div>
    <div class="col-md-4">
      <h5>Quick links</h5>
      <hr>
      <p><a href="index.html" class="anchor text-secondary">Home</a></p>
      <p><a href="about.html" class="anchor text-secondary">About</a></p>
      <p><a href="contact.html" class="anchor text-secondary">Contact</a></p>
      <p><a href="cart.html" class="anchor text-secondary">Cart</a></p>
  
    </div>
    <div class="col-md-4">
      <h5>Contact us</h5>
      <hr>
      <h5><a href="https://www.facebook.com/" class="anchor" target="_blank"><i
            class="bi bi-facebook text-secondary"></i></a></h5>
      <h5><a href="https://www.twitter.com/" class="anchor" target="_blank"><i class="bi bi-twitter text-secondary"></i></a>
      </h5>
      <h5><a href="https://www.instagram.com/" class="anchor" target="_blank"><i
            class="bi bi-instagram text-secondary"></i></a></h5>
      <h5><a href="https://www.linkedin.com/" class="anchor" target="_blank"><i
            class="bi bi-linkedin text-secondary"></i></a></h5>
      <h5><a href="https://www.youtube.com/" class="anchor" target="_blank"><i class="bi bi-youtube text-secondary"></i></a>
      </h5>
    </div>
  
  </div>
  <div class="row text-center">
    <p class="Copy-right">Copyright &copy; Fitness Store Room</p>

  </div>
  </div>
  <!--footer end-->


  <script src= "{% static 'asset/JS/popper.min.js' %}"></script>
  <script src="{% static 'asset/JS/bootstrap.min.js' %}"></script>
</body>

</html>