{% extends "base.html" %}

{% load static %}
{% block 'main' %}
<!--background home image-->
  <section class="row site-wall">
    <pre>
        Best Place To Find
                     and Buy 
                          <strong>Healthy Edition  Products </strong>
                                                  For your Need
        </pre>
  </section><!--end background home image-->
  <!--header end-->
<!--main start-->
  <div class="container"> <!--offer+ product+ top product div start-->
    <div class="row mt-1"><!--offer div start-->
      <div class="col-md-6 ">
        <div class="offer1">
          <div class="plate1">
            <p style="color: red; font-weight: bold;">8% OFF</p>
            <p style="font-weight: bold;">Hot Deals on new Items</p>
            <p style="color: grey;">Fresh Vegetables</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="offer2">
          <div class="plate2">
            <p style="color: red; font-weight: bold;">3% OFF</p>
            <p style="font-weight: bold;">Buy More and Save More</p>
            <p style="color: grey;">Nust & snacks</p>
          </div>
        </div>
      </div>
    </div><!--offer div end-->
    <div class="row gy-4 mt-4"><!--product row start-->
      <div class="heading-bg"><!-- product heading start-->
        <h2>SHOP BY CATEROGY</h2>
      </div><!-- product heading end-->

      <div class="col-4">
        <div class="product-box product-box-dg">
          <a href="/catfilter/1" class="anchor"><img src="{% static "asset/images/dairy/dairy.webp" %}" alt="Dairy">
          <p style="font-weight: bold; font-size: 20px;"> Dairy</p>
          <p style="color: darkgrey;">Product</p></a>
        </div>
      </div>

      <div class="col-4">
        <div class="product-box product-box-dg">
          <a href="/catfilter/2" class="anchor">
          <img src="{% static "asset/images/Fruits/fruit.jpeg" %}" alt="Fruits">
          <p style="font-weight: bold; font-size: 20px;"> Fresh Fruits</p>
          <p style="color: darkgrey;">Product</p></a>
        </div>
      </div>

      <div class="col-4">
        <div class="product-box product-box-dg">
          <a href="/catfilter/3" class="anchor">
          <img src="{% static "asset/images/Vegetables/vegetable.jpg" %}" alt="vegetables">
          <p style="font-weight: bold; font-size: 20px;"> Fresh Vegetables</p>
          <p style="color: darkgrey;">Product</p></a>
        </div>
      </div>

      <div class="col-4">
        <div class="product-box product-box-dg">
          <a href="/catfilter/4" class="anchor">
          <img src="{% static "asset/images/Rice/rice.jpg" %}" alt="rice">
          <p style="font-weight: bold; font-size: 20px;"> Pasta, rice & cereals</p>
          <p style="color: darkgrey;">Product</p></a>
        </div>
      </div>


      <div class="col-4">
        <div class="product-box product-box-dg">
          <a href="/catfilter/5" class="anchor">
          <img src="{% static "asset/images/meat alternatives/alrenative.webp" %}" alt="Meat alternatives">
          <p style="font-weight: bold; font-size: 20px;"> Meat alternatives</p>
          <p style="color: darkgrey;">Product</p></a>
        </div>
      </div>

      <div class="col-4">
        <div class="product-box product-box-dg">
          <a href="/catfilter/6" class="anchor">
          <img src="{% static "asset/images/Cans/Cans.jpg" %}" alt="Cans">
          <p style="font-weight: bold; font-size: 20px;"> Cans & jars</p>
          <p style="color: darkgrey;">Product</p></a>
        </div>
      </div>

      <div class="col-4">
        <div class="product-box product-box-dg">
          <a href="/catfilter/7" class="anchor">
          <img src="{% static "asset/images/bread/bread.jpg" %}" alt="Bread">
          <p style="font-weight: bold; font-size: 20px;"> Bread & baked goods</p>
          <p style="color: darkgrey;">Product</p></a>
        </div>
      </div>


      <div class="col-4">
        <div class="product-box product-box-dg">
          <a href="/catfilter/8" class="anchor">
          <img src="{% static "asset/images/frozen/frozen.avif" %}" alt="Frozen foods">
          <p style="font-weight: bold; font-size: 20px;"> Frozen foods</p>
          <p style="color: darkgrey;">Product</p></a>
        </div>
      </div>

      <div class="col-4">
        <div class="product-box product-box-dg">
          <a href="/catfilter/9" class="anchor">
          <img src="{% static "asset/images/Sauces/Sauces.jpg" %}" alt="Sauces & condiments">
          <p style="font-weight: bold; font-size: 20px;"> Sauces & condiments</p>
          <p style="color: darkgrey;">Product</p></a>
        </div>
      </div>

      <div class="col-4">
        <div class="product-box product-box-dg">
          <a href="/catfilter/10" class="anchor">
          <img src="{% static "asset/images/nuts/nuts.webp" %}" alt="Nust & snacks">
          <p style="font-weight: bold; font-size: 20px;"> Nuts & snacks</p>
          <p style="color: darkgrey;">Product</p></a>
        </div>
      </div>

      <div class="col-4">
        <div class="product-box product-box-dg">
          <a href="/catfilter/11" class="anchor">
          <img src="{% static "asset/images/beverages/beverage.webp" %}" alt="Beverages">
          <p style="font-weight: bold; font-size: 20px;"> Beverages</p>
          <p style="color: darkgrey;">Product</p></a>
        </div>
      </div>

      <div class="col-4">
        <div class="product-box product-box-dg">
          <a href="/catfilter/12" class="anchor">
          <img src="{% static "asset/images/Herbs_spices/Herbs.jpg" %}" alt="Herbs & spices">
          <p style="font-weight: bold; font-size: 20px;"> Herbs & spices</p>
          <p style="color: darkgrey;">Product</p></a>
        </div>
      </div>
    </div><!--product row end-->


  <!---------------------Top product row start-------------------------------->

    <div class="row gy-4 mt-4"><!--Top product row start-->
      <div class="heading-bg"><!-- top product heading start-->
        <h3>OUR TOP PRODUCTS</h3>
      </div><!-- top product heading end--> 
      {% for x in products %}
      <div class="col-3 text-center">
          <div class="card" style="width: 100%;">
              <img src="{{x.pimage.url}}" width="100%" height= '200px'  class="card-img-top" alt="">
              <div class="card-body shad">
                  <h5 class="card-title fw-semibold mytext">{{x.name}}</h5>
                  <p class="card-text mytext">Rs.{{x.price}}</p>
                  {% comment %} <p class="card-text mytext">{{x.cat}}</p> {% endcomment %}
                  {% if x.cat == 1 %}
                  <p class="card-text">Dairy</p>
                  {% elif x.cat == 2 %}
                  <p class="card-text">Fruits</p>
                  {% elif x.cat == 3 %}
                  <p class="card-text">Vegetables</p>
                  {% elif x.cat == 4 %}
                  <p class="card-text">Pasta, rice & cereals</p>
                  {% elif x.cat == 5 %}
                  <p class="card-text">Meat alternatives</p>
                  {% elif x.cat == 6 %}
                  <p class="card-text">Cans & jars</p>
                  {% elif x.cat == 7 %}
                  <p class="card-text">Bread & baked goods</p>
                  {% elif x.cat == 8 %}
                  <p class="card-text">Frozen foods</p>
                  {% elif x.cat == 9 %}
                  <p class="card-text">Sauces & condiments</p>
                  {% elif x.cat == 10 %}
                  <p class="card-text">Nuts & snacks</p>
                  {% elif x.cat == 11 %}
                  <p class="card-text">Beverages</p>
                  {% else %}
                  <p class="card-text">Herbs & spices</p>
                  {% endif %}
                  <a href="#" class="btn px-auto wish-list"><i class="bi bi-bookmark "></i></a>
                  <a href="/pdetails/{{x.id}}" class="btn details px-auto"> view details </a><br />
                  <a href="/addtocart/{{x.id}}" class="btn cart px-auto">ADD TO CART</a><br>
              </div>
          </div>
          
      </div> <!--product end-->
      {% endfor %}

    </div><!--top product div end--> 
  </div><!--offer+ product + top product div end-->
{% endblock 'main' %}